[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/flexible-voting"]
	path = lib/flexible-voting
	url = https://github.com/scopelift/flexible-voting
